
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-android:before { content: "\e622"; }
.icon-apple:before { content: "\e623"; }
.icon-iconfonttoubiaojine:before { content: "\e601"; }
.icon-iconfont012xiangmuxiangqingtianjiakezhuanrangbiaoshi:before { content: "\e602"; }
.icon-iconfontshijian:before { content: "\e603"; }
.icon-iconfontduanzi:before { content: "\e604"; }
.icon-iconfontyonghu1:before { content: "\e605"; }
.icon-iconfonttuichu1:before { content: "\e606"; }
.icon-iconfontshezhi2:before { content: "\e607"; }
.icon-iconfonthuiyuanzhongxin:before { content: "\e608"; }
.icon-iconfontlicai:before { content: "\e609"; }
.icon-iconfontshezhi:before { content: "\e60a"; }
.icon-iconfontxueyuan:before { content: "\e60b"; }
.icon-iconfonttaobaozhongchoudisiqiqianbao:before { content: "\e60c"; }
.icon-iconfontshezhi1:before { content: "\e60d"; }
.icon-iconfontfuzhiwenjian:before { content: "\e600"; }
.icon-iconfontxitongtongzhi:before { content: "\e60e"; }
.icon-iconfontgerenzhongxin:before { content: "\e60f"; }
.icon-iconfont1202:before { content: "\e610"; }
.icon-iconfontwodeqianbao2:before { content: "\e611"; }
.icon-iconfontanquanshezhi:before { content: "\e612"; }
.icon-iconfontzhifuanquan:before { content: "\e613"; }
.icon-iconfontchongzhiguanli:before { content: "\e614"; }
.icon-iconfontzidongtouzi:before { content: "\e615"; }
.icon-iconfonticon07:before { content: "\e616"; }
.icon-iconfontsfsiconjilu:before { content: "\e617"; }
.icon-iconfonttuichu:before { content: "\e618"; }
.icon-iconfonttishi:before { content: "\e619"; }
.icon-denglumima:before { content: "\e61a"; }
.icon-dui:before { content: "\e61b"; }
.icon-shimingrenzheng:before { content: "\e61c"; }
.icon-shouji:before { content: "\e61d"; }
.icon-tikuanmima:before { content: "\e61e"; }
.icon-youxiang:before { content: "\e61f"; }
.icon-iconfontxinxi:before { content: "\e620"; }
.icon-iconfontdunpai:before { content: "\e621"; }
.icon-xingzhuang6:before { content: "\e624"; }
.icon-xingzhuang5:before { content: "\e625"; }
.icon-carefal:before { content: "\e626"; }
