body {
    background-color: #fff;
    font-family: '微软雅黑', Arial, YaHei, tahoma, "Hiragino Sans GB", '宋体'
}

ul, li, h2 {
    list-style: none;
    padding: 0;
    margin: 0
}

.container {
    width: 1002px !important
}

.row {
    margin: 0 auto
}

.container {
    background: #fff
}

a:hover {
    text-decoration: none
}

a {
    cursor: pointer;
    text-decoration: none;
    hide-focus: expression(this.hideFocus=true);
    outline: none
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none
}

a:focus {
    outline: 0;
}

.modal-content {
    border-radius: 0px
}

button {
    border-radius: 0px !important
}

select {
    border-radius: 0px !important
}

textarea {
    border-radius: 0px !important
}

input {
    border-radius: 0px !important
}

.form-control:focus {
    border-color: #917739;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 51, 51, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 51, 51, 0.6)
}

.topBanner {
    width: 100%;
    background: #f8f8f8;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px
}

.topBanner .container {
    background: #f8f8f8
}

.topBanner .row {
    padding-left: 15px
}

.topBanner .row .slogan {
    float: left;
    color: #333
}

.topBanner .row .baseInfo {
    float: right;
    color: #333
}

.topBanner .row .baseInfo a {
    color: #333;
    margin-right: 10px
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px
}

.logo .logoImg {
    float: left;
    margin-left: 20px
}

.logo .telInfo {
    float: right;
    margin-right: 20px
}

.logo .telInfo img {
    float: left;
    margin-top: 8px
}

.logo .telInfo .detail {
    float: right;
    margin-left: 12px;
    font-size: 26px;
    color: #917739;
    font-weight: bold
}

.logo .telInfo .detail .url {
    color: gray;
    font-weight: normal;
    font-size: 25px
}

.logo .telInfo .detail:hover {
    color: #14161a
}

.logo .telInfo .detail:hover a {
    color: #14161a !important
}

.jwNav {
    width: 100%;
    min-width: 1002px;
    background: #14161a;
    border-top: 3px solid #323030
}

.jwNav .container {
    background-color: transparent
}

.jwNav .row a {
    display: block;
    float: left;
    color: #917739;
    text-align: center;
    padding: 3px 26px;
    font-size: 16px;
    border-left: 1px solid #323030;
    border-right: 1px solid #323030
}

.jwNav .row a:hover {
    text-decoration: none;
    color: white
}

.jwNav .row .first {
    border-left: 0px
}

.jwNav .row .last {
    border-right: 0px
}

.topNav {
    padding: 0;
    margin: 0
}

.topNav li {
    float: left;
    margin: 0;
    display: inline-block;
    padding: 8px 0
}

.topNav li:hover {
    background: #323030
}

.topNav li.active {
    background: #323030
}

.topNav li.active a {
    color: white
}

.foot {
    background: #323232;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 1002px;
    margin-top: 40px
}

.foot .container {
    background-color: transparent
}

.foot .container .row {
    padding-left: 15px
}

.foot .container .row .links {
    float: left;
    font-size: 12px;
    line-height: 26px;
    border-left: 1px dashed #202020;
    border-right: 1px dashed #505050;
    padding-left: 30px;
    padding-right: 50px
}

.foot .container .row .links .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px
}

.foot .container .row .links a {
    color: #838383
}

.foot .container .row .first {
    border-left: 0px
}

.foot .container .row .guanzhu {
    border-left: 1px dashed #202020;
    border-right: 1px dashed #505050;
    padding-left: 10px;
    padding-right: 8px;
    float: left;
    min-height: 166px
}

.foot .container .row .guanzhu .title {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
    color: #838383
}

.foot .container .row .guanzhu .icon {
    float: left;
    text-align: center;
    color: #838383;
    font-size: 16px;
    margin-right: 40px
}

.foot .container .row .guanzhu .icon img {
    margin-bottom: 5px
}

.foot .container .row .guanzhu .first {
    margin-left: 15px
}

.foot .container .row .contactUs {
    float: left;
    font-size: 20px;
    color: white;
    padding-left: 30px
}

.foot .container .row .contactUs .contactInfo {
    margin-bottom: 8px;
    font-size: 32px;
    color: #999
}

.foot .container .row .contactUs .contactInfo img {
    height: 48px;
    margin-right: 5px
}

.foot .container .row .contactUs .contactInfo .kefu {
    font-size: 24px
}

.foot .container .row .contactUs .contactInfo .time {
    font-size: 18px
}

.foot .container .row .contactUs .title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #838383
}

.foot .container .row .contactUs .contactTime {
    font-size: 18px;
    color: #bcbcbc;
    margin-bottom: 2px
}

.foot .container .row .contactUs .qq {
    border: 1px solid gray;
    background: #676767;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    overflow: auto;
    margin-top: 8px;
    cursor: pointer
}

.foot .container .row .contactUs .qq img {
    float: left;
    margin-left: 5px
}

.foot .container .row .contactUs .qq div {
    float: left;
    margin-left: 13px;
    line-height: 22px;
    font-size: 14px
}

.foot .container .row .contactUs .qq div .qqTitle {
    font-size: 16px
}

.foot .container .row .erweima {
    float: right;
    text-align: center;
    color: white;
    font-size: 16px
}

.foot .container .row .erweima img {
    margin-bottom: 10px;
    width: 100px
}

.foot2 {
    width: 100%;
    min-width: 1002px;
    background: #2c2c2c;
    height: 45px
}

.foot2 .container {
    background-color: transparent
}

.foot2 .container .row {
    padding-left: 15px;
    color: #838383;
    padding-top: 14px
}

.foot2 .container .row a {
    color: #838383;
    margin-right: 10px
}

.foot3 {
    width: 100%;
    min-width: 1002px;
    background: #2c2c2c;
    border-top: 1px solid #1c1c1c;
    height: 100px
}

.foot3 .container {
    background-color: transparent
}

.foot3 .container .row {
    color: #838383;
    text-align: center;
    padding-top: 20px
}

.sdbanner {
    min-width: 1000px;
    height: 240px;
    background: #f19c0b url(../images/cpzxBanner.jpg) no-repeat center;
    background-size: 100%;
}

.proMain {
    width: 970px;
    margin: 30px auto 0
}

.protab {
    display: block;
    text-align: center;
    height: 70px
}

.protab a {
    display: inline-block;
    width: 156px;
    height: 46px;
    margin: 0 5px;
    background-color: #14161a;
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    border-radius: 3px;
    position: relative
}

.protab a em {
    display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #9d8441;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -6px
}

.protab a:hover, .protab a.select {
    background-color: #9d8441;
    font-weight: bold;
    text-decoration: none
}

.protab a:hover em, .protab a.select em {
    display: block
}

.sdShaix {
    display: block;
    padding: 20px;
    border: 1px solid #e2e2e2;
    background-color: #fafafa
}

.sdShaix ul {
    overflow: hidden;
    margin: 10px 0
}

.sdShaix ul li {
    float: left;
    width: 90px;
    color: #999;
    line-height: 24px
}

.sdShaix ul li a {
    display: inline-block;
    color: #666
}

.sdShaix ul li a:hover, .sdShaix ul li a.select {
    color: #fff;
    background-color: #9d8440;
    padding: 0 8px;
    line-height: 24px;
    border-radius: 3px
}

.tbList {
    display: block;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    height: 130px;
    margin-top: 20px
}

.tbList li {
    float: left;
    text-align: center
}

.tbList li.first {
    width: 200px;
    background-color: #f6f6f6;
    position: relative
}

.tbList li.second {
    width: 338px;
    padding: 24px 0
}

.tbList li.three {
    width: 200px;
    padding: 29px 0 24px 0
}

.tbList li.four {
    width: 100px;
    padding: 24px 0
}

.tbList li.five {
    width: 129px;
    padding-top: 45px;
}

.tbList li.first h2 {
    font-size: 18px;
    line-height: 128px;
    font-weight: bold;
    height: 128px;
    display: table;
    width: 100%
}

.tbList li.first h2 b {
    display: table-cell;
    line-height: 22px;
    vertical-align: middle;
    text-align: left;
    padding: 0 30px
}

.tbList li.first h2 em {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    background-color: #9d8440;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    margin-right: 5px
}

.tbList li.first i {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #f6f6f6;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: -8px
}

.tbList li.second div {
    display: inline-block;
    width: 32%;
}

.tbList li.second div h2 {
    font-size: 16px;
    color: #9d8440;
    font-weight: bold;
    line-height: 50px
}

.tbList li.second div.txt1 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff503f
}

.tbList li.second div p {
    color: #666
}

.tbList li.second div.txt3 {
    border-right: 1px solid #f5f5f5
}

.tbList li.three {
    text-align: left
}

.tbList li.three a {
    width: 74px;
    height: 24px;
    display: inline-block;
    border: 1px solid #00baff;
    border-radius: 12px;
    text-align: center;
    color: #00baff;
    margin-bottom: 6px
}

.tbList li.three span {
    height: 24px;
    display: inline-block;
    border: 1px solid #00baff;
    border-radius: 12px;
    text-align: center;
    color: #00baff;
    font-size: 12px;
    padding: 0 6px;
    line-height: 22px;
    margin-left: 5px
}

.tbList li.three p {
    color: #999;
    font-size: 12px;
    line-height: 20px
}

.tbList li.four .yuan {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #f8f8f8;
    border-radius: 50%
}

.tbList li.five a {
    width: 90px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    border-radius: 3px
}

.tbList li.five a.abtn {
    background-color: #9d8440
}

.tbList li.five a.abtn:hover {
    background-color: #ff503f
}

.tbList li.five a.no {
    background-color: #ccc
}

.security {
    background: #f5f7fa;
    margin-top: 15px;
    padding: 25px 10px;
    overflow: auto;
    margin: 40px auto 0;
    width: 970px
}

.security .item {
    width: 33.3%;
    float: left
}

.security .item img {
    float: left;
    margin-top: 9px
}

.security .item .detail {
    float: left;
    margin-left: 10px;
    text-align: left;
    color: #515151;
    font-size: 24px;
    margin-top: 20px
}

.security .item .detail .desc {
    font-size: 14px;
    margin-top: 5px
}

.conTit {
    display: block;
    height: 42px;
    border-bottom: 1px solid #ebebeb
}

.conTit h2 {
    float: left;
    font-size: 16px;
    color: #555;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 2px solid #a58b48
}

.conTit h2 em {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 2px solid #a58b48;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    color: #a58b48;
    border-radius: 50%;
    margin-right: 5px
}

.conTit span {
    font-size: 12px;
    line-height: 42px;
    color: #999;
    float: right
}

.conTable {
    border: 1px solid #e9e9e9;
    margin-top: 20px
}

.txtInfo {
    text-align: center;
    padding: 25px 0
}

.txtInfo div {
    display: inline-block;
    width: 32%;
}

.txtInfo h2 {
    font-size: 24px;
    color: #9d8440;
    font-weight: bold;
    line-height: 50px
}

.txtInfo div.txt2 h2 {
    color: #ff503f
}

.txtInfo div p {
    color: #888;
    font-size: 16px;
    margin: 0
}

.conInfoList {
    overflow: hidden;
    padding-left: 20px;
    padding-bottom: 30px
}

.conInfoList li {
    float: left;
    height: 120px
}

.conInfoList li p {
    margin-bottom: 0;
    line-height: 30px;
    color: #aaa
}

.conInfoList li.info {
    margin: 0px 0 0 40px;
    height: 90px;
    padding: 15px 0
}

.conInfoList li.pie {
    width: 120px
}

.scroll {
    display: inline-block;
    width: 209px;
    height: 12px;
    background: url(../images/scrobg.jpg) no-repeat;
    margin-right: 5px
}

.scroll em {
    display: block;
    height: 12px;
    border-radius: 6px;
    background-color: #a58b48
}

.tbBox {
    width: 320px;
    background-color: #f9f9f9;
    border-radius: 6px;
    display: inline-block;
    padding: 20px
}

.tbBox h2 {
    color: #ff503f;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px
}

.tbBox p {
    font-size: 14px;
    color: #888;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin: 0
}

.tbBox .tit {
    display: block;
    overflow: hidden;
    position: relative
}

.tbBox .tit h2 {
    float: left;
    padding: 0;
    line-height: 50px;
    font-size: 14px;
    color: #666;
    font-weight: normal
}

.tbBox .tit span.fr {
    float: right;
    color: #888;
    line-height: 50px
}

.tbBox .txt {
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    border-radius: 4px !important
}

.tbBox button {
    width: 100%;
    height: 40px;
    border-radius: 4px !important;
    border: none;
    background-color: #ff503f;
    color: #fff;
    margin-top: 10px
}

.tbConBox {
    display: block;
    border: 1px solid #e9e9e9;
    margin-top: 20px
}

.tbConBox .tab {
    height: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9
}

.tbConBox .tab a {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    border-right: 1px solid #e9e9e9;
    color: #555;
    float: left
}

.tbConBox .tab a:hover, .tbConBox .tab a.select {
    background-color: #fff;
    color: #a58b48;
    font-weight: bold;
    border-bottom: 1px solid #fff
}

.tbConBox .box {
    display: none;
    padding: 40px;
}

.dbwtab td {
    line-height: 40px;
    padding-left: 15px
}

.dbwtab td.corf9 {
    background-color: #f9f9f9;
    padding: 0;
    width: 120px
}

.dbwtab td.corf9 span {
    display: block;
    color: #888;
    padding-left: 15px
}

.tzlist th, .tzlist td {
    line-height: 40px;
    text-align: center
}

.tzlist th {
    color: #888;
    background-color: #f9f9f9;
    font-weight: normal
}

.tzlist td {
    color: #666
}

.tbList span.ico {
    width: 52px;
    height: 42px;
    display: block;
    position: absolute;
    background-image: url(../images/pre.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0
}

.tbList span.zq {
    background-position: 0 0
}

.tbList span.jp {
    background-position: -208px 0
}

.tbList span.gq {
    background-position: -156px 0
}

.tbList span.fd {
    background-position: -52px 0
}

.tbList span.cd {
    background-position: -104px 0
}

.peopleInfo {
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto
}

.peopleInfo .info {
    padding-left: 20px
}

.peopleInfo .info .img {
    display: block;
    width: 94px;
    height: 94px;
    float: left;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14px
}

.peopleInfo .info .img img {
    display: block
}

.peopleInfo .info h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ff503f
}

.peopleInfo .info h2 span {
    font-size: 18px;
    font-weight: normal;
    color: #666
}

.peopleInfo .info .safe {
    margin: 8px 0
}

.listIco {
    display: inline-block;
    overflow: hidden
}

.listIco li {
    float: left;
    margin-right: 14px;
    position: relative
}

.listIco li a {
    font-size: 24px;
    color: #d5d5d5;
    line-height: 1
}

.listIco li em {
    display: block;
    width: 12px;
    height: 14px;
    position: absolute;
    bottom: 0;
    right: -6px;
    font-size: 12px;
    font-style: normal;
    color: #ff503f;
    line-height: 1;
    display: none
}

.listIco li a:hover, .listIco li.active a {
    color: #31a852
}

.listIco li.active em {
    display: block
}

.loginOut {
    display: inline-block;
    width: 118px;
    height: 38px;
    background-color: #31a852;
    color: #fff;
    text-align: center;
    line-height: 38px;
    border-radius: 3px;
    font-weight: bold
}

.loginOut span {
    margin-right: 5px
}

.loginOut:hover {
    color: #fff;
    background-color: #53a76a
}

.countBox {
    width: 970px;
    margin: 0 auto;
    padding: 35px 0;
    border-bottom: 3px solid #ebebeb
}

.countBox ul {
    overflow: hidden
}

.countBox ul li {
    float: left;
    width: 20%;
    text-align: center;
    border-left: 1px solid #ebebeb
}

.countBox ul li:first-child {
    border: none
}

.countBox ul li h2 {
    font-size: 22px;
    font-weight: bold;
    color: #ff503f
}

.countBox ul li p {
    font-size: 14px;
    color: #888;
    margin: 0;
    margin-top: 8px
}

.countBox ul li p a {
    color: #d0d0d0;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 16px
}

.countBox ul li span {
    display: none;
    position: absolute;
    top: -26px;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    background-color: #31a852;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 3px;
    right: -20px
}

.countBox ul li i {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #31a852;
    position: absolute;
    top: -4px;
    right: 5px;
    display: none
}

.countBox ul li p a:hover span, .countBox ul li p a:hover i {
    display: block
}

.countBox .cz, .countBox .tk {
    display: inline-block;
    width: 70px;
    height: 32px;
    margin: 8px 0 0 5px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    border-radius: 3px
}

.countBox .cz {
    background-color: #ff503f;
    margin-left: 20px
}

.countBox .tk {
    background-color: #00b3f5
}

.adminLeft {
    width: 210px;
    float: left;
    border-top: 2px solid #ff503f;
    background-color: #f8f8f8;
    padding-bottom: 50px
}

.adminLeft h2 {
    font-size: 16px;
    line-height: 50px;
    padding-top: 10px;
    text-indent: 24px
}

.adminLeft li a {
    display: block;
    line-height: 34px;
    text-indent: 56px;
    color: #000
}

.adminLeft li a em {
    margin-right: 5px;
    color: #ac9558
}

.adminLeft li a em.red {
    color: #ff5a4a
}

.adminLeft li a:hover, .adminLeft li a.select {
    color: #ac9558;
    font-weight: bold;
    font-weight: bold;
    background-color: #efefef
}

.adminLeft li a:hover em, .adminLeft li a.select em {
    font-weight: normal
}

.admin-right {
    width: 736px;
    float: right
}

.admin-right .tbConBox {
    margin-top: 0;
    min-height: 452px
}

.admin-right .tbConBox .box {
    padding: 20px
}

.topTit {
    height: 32px;
    display: block;
    line-height: 32px;
    margin-bottom: 10px
}

.selectbox {
    float: right;
}

.selectbox select {
    border: 1px solid #dcdcdc;
    height: 32px;
    width: 160px
}

.selectbox button {
    border: none;
    background-color: #a58b48;
    color: #fff;
    width: 56px;
    border-radius: 2px !important;
    margin-left: 5px
}

.kqBtn {
    display: block;
    width: 130px;
    height: 36px;
    background-color: #ff503f;
    color: #fff;
    text-align: center;
    line-height: 36px;
    float: right;
    margin-top: 30px;
    border-radius: 3px
}

.kqBtn:hover {
    background-color: #fa6d5f;
    color: #fff
}

.picTab {
    display: block;
    text-align: center;
    padding-top: 10px
}

.picTab a {
    display: inline-block;
    margin: 0 5px;
    border: 2px solid #fff;
    padding: 10px 30px
}

.picTab a p {
    color: #000;
    line-height: 1;
    margin: 0;
    margin-top: 6px
}

.picTab a:hover {
    border: 2px dashed #ac9558
}

.picTab a.select {
    border: 2px solid #ac9558;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.1)
}

.formBox {
    display: block;
    padding: 50px 0;
    border-bottom: 1px solid #e9e9e9;
    text-align: center
}

.formBox .czbox {
    display: inline-block
}

input.tytxt {
    border: 1px solid #ddd;
    padding: 5px 10px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px !important
}

.tybutton {
    width: 120px;
    height: 36px;
    background-color: #ff503f;
    color: #fff;
    margin-top: 30px;
    border-radius: 3px;
    border: none;
    margin-left: 16px;
    border-radius: 2px !important
}

.txtCon p {
    color: #888;
    line-height: 30px;
    padding: 15px 8px 0;
    display: none
}

.safeTable td {
    height: 74px;
    border-bottom: 1px solid #f1f1f1;
    padding-left: 15px
}

.safeTable td p {
    margin: 0
}

.safeTable td.first span {
    margin-right: 14px;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center
}

.safeTable td.first span a {
    font-size: 24px;
    color: #d5d5d5;
    line-height: 1
}

.safeTable td.first span em {
    display: block;
    width: 12px;
    height: 14px;
    position: absolute;
    bottom: 0;
    right: -6px;
    font-size: 12px;
    font-style: normal;
    color: #ff503f;
    line-height: 1;
    display: none
}

.safeTable td.first span a:hover, .safeTable td.first span.active a {
    color: #31a852
}

.safeTable td.first span.active em {
    display: block
}

.safeTable td a.renzheng {
    display: inline-block;
    width: 56px;
    height: 28px;
    color: #fff;
    line-height: 28px;
    text-align: center;
    background-color: #00b3f5;
    border-radius: 1px
}

.login {
    margin-top: 60px;
    margin-bottom: 100px
}

.login .loginPic {
    float: left;
    width: 60%;
    text-align: center
}

.login .loginBlock {
    float: left;
    width: 40%;
    border: 1px solid #c6c6c6;
    padding-bottom: 48px
}

.login .loginBlock .cornerImg {
    float: right
}

.login .loginBlock .item {
    width: 80%;
    margin: 0 auto
}

.login .loginBlock .item .lLabel {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-weight: 300
}

.login .loginBlock .item .lInput {
    width: 100%;
    margin-top: 5px;
    height: 70px
}

.login .loginBlock .item .lInput img {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px
}

.login .loginBlock .item .lInput input {
    padding-left: 45px;
    height: 40px
}

.login .loginBlock .item .lInput .errorInfo {
    color: #f84941;
    margin-top: 5px;
    display: none;
    line-height: 26px
}

.login .loginBlock .item1 {
    margin-top: 65px
}

.login .loginBlock .rest {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 40px
}

.login .loginBlock .rest #loginError {
    color: #917739;
    display: none;
    padding-left: 60px
}

.login .loginBlock .rest a {
    float: right;
    color: #d59710
}

.login .loginBlock .rest .forgetLink {
    position: relative;
    top: -20px
}

.login .loginBlock .rest .loginBtn {
    background: #917739;
    color: white;
    font-size: 20px;
    padding: 8px 80px
}

.login .loginBlock .rest .loginBtn:hover {
    background: #c09f52
}

.login .loginBlock .rest .registUrl {
    float: right;
    padding-top: 20px
}

.register {
    margin-top: 60px;
    background: white;
    padding-bottom: 70px
}

.register .title {
    height: 40px;
    margin-bottom: 40px
}

.register .title div {
    float: left;
    text-align: center
}

.register .title .left {
    width: 42%
}

.register .title .mid {
    width: 16%;
    font-size: 24px;
    color: #949494
}

.register .title .right {
    width: 42%
}

.register .item {
    height: 45px;
    margin-bottom: 10px
}

.register .item .rLabel {
    width: 40%;
    float: left;
    text-align: right;
    padding-top: 6px
}

.register .item .rInput {
    width: 59%;
    margin-left: 1%;
    float: left;
    padding-left: 20px
}

.register .item .rInput input.textInput {
    width: 250px;
    padding-left: 10px;
    display: inline;
    height: 38px
}

.register .item .rInput .registerRule {
    width: initial
}

.register .item .rInput #picCode {
    width: 110px
}

.register .item .rInput #vCode {
    width: 110px
}

.register .item .rInput .vCodeBtn {
    background: #917739;
    color: white;
    margin-top: -3px;
    margin-left: 10px;
    text-align: center;
    width: 130px;
    height: 38px
}

.register .item .rInput .vCodeBtn:hover {
    background: #bc860f
}

.register .item .rInput .extroInfo {
    color: #a1a1a1;
    position: relative;
    top: -8px
}

.register .item .rInput label {
    cursor: pointer
}

.register .item .rInput label #registerRule {
    position: relative;
    top: 2px;
    margin-right: 10px
}

.register .item .rInput .registBtn {
    background: #917739;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    padding: 8px 92px
}

.register .item .rInput .registBtn:hover {
    background: #bc860f
}

.register .item .rInput .changeToLogin {
    background: #f0f0f0;
    padding: 8px 20px
}

.register .item .rInput .errorInfo {
    margin-left: 20px;
    color: #fd7a1a;
    display: none
}

.register .item .rInput img {
    height: 38px;
    width: 135px;
    margin-top: -4px
}

.register .item .rInput .ruleError {
    margin-left: 20px;
    color: #917739;
    display: none
}

.register .item .rInput a {
    color: #d59710
}

.register .item .loginChoose {
    padding-left: 64px;
    padding-top: 16px
}

.register .extro {
    height: 25px
}

.register .centerTitle {
    text-align: center;
    padding-top: 50px;
    line-height: 28px
}

.register .centerTitle .bigTitle {
    font-size: 24px
}

.register .centerTitle .desc {
    color: #a2a2a2
}

.register .centerTitle .userName {
    font-size: 18px;
    padding-left: 10px
}

.register .centerTitle button {
    background: #917739;
    color: white;
    font-size: 22px;
    padding: 8px 24px;
    margin-right: 20px;
    margin-left: 20px
}

.register .centerTitle button:hover {
    background: #bc860f
}

.infoModal .modal-content .modal-header {
    background: #917739 none repeat scroll 0% 0%;
    color: #FFF;
    padding-top: 8px;
    padding-bottom: 8px
}

.remind {
    color: #DF2D2D;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 30px
}

.txTable td {
    padding: 6px 4px
}

.txTable td button {
    margin: 0
}

.txTable td select {
    border: 1px solid #dcdcdc;
    height: 32px;
    width: 172px
}

.orderBox {
    width: 968px;
    margin: 0 auto;
    border: 1px solid #dbdbdb
}

.orderBox .title {
    display: block;
    height: 50px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dbdbdb
}

.orderBox .title h2 {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #555;
    padding-left: 20px
}

.orderBox .title h2 span {
    font-weight: normal;
    font-size: 18px;
    margin-right: 8px;
    color: #a58b48
}

.order {
    display: block;
    padding: 50px 0;
    border-bottom: 1px solid #ebebeb;
    position: relative
}

.order img {
    position: absolute;
    top: 40px;
    left: 200px
}

.order td {
    height: 36px
}

.order td span {
    font-size: 14px;
    color: #999
}

.order td b {
    font-size: 24px;
    color: #ff503f
}

.orderInfo td {
    padding: 30px 0
}

.orderInfo p {
    margin: 0;
    line-height: 24px;
    padding-left: 22px
}

.orderInfo button {
    height: 40px;
    margin-right: 22px;
    margin-top: 0;
    float: right
}

.orderInfo .money {
    display: inline-block;
    text-align: center
}

.orderInfo .money b {
    font-size: 24px;
    color: #ff503f;
    line-height: 1
}

.orderInfo .money span {
    margin: 0;
    color: #666;
    display: block
}

.listCount {
    padding: 5px 15px 5px 5px;
    border: solid 1px #e9e9e9;
    margin-top: 5px;
    text-align: right;
}

.llpage {
    height: 34px;
    margin: 30px auto 20px auto;
    text-align: center
}

.llpage .in {
    display: inline-block
}

.llpage .in a {
    height: 32px;
    display: block;
    float: left;
    margin: 0 3px;
    padding: 0 12px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    line-height: 32px;
    font-size: 14px;
    color: #000
}

.llpage .in a:hover, .llpage .in a.now {
    background-color: #9D8441;
    color: #fff
}

.gjList {
    padding-left: 1px
}

.gjList li {
    width: 243px;
    float: left;
    margin-top: 35px;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    padding: 0 21px;
    border-left: 1px solid #f4f4f4;
    margin-left: -1px
}

.gjList li h2.tit {
    font-size: 18px;
    color: #444;
    text-align: center;
    line-height: 44px
}

.gjList li h2.tit span {
    display: inline-block;
    height: 18px;
    width: 18px;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    background-color: #36c5f1;
    border-radius: 50%;
    color: #fff;
    margin-right: 5px;
    position: relative;
    top: -3px
}

.gjList li span.fenl {
    display: inline-block;
    line-height: 18px;
    padding: 0 5px;
    background-color: #9d8440;
    color: #fff;
    font-size: 12px
}

.gjList li .count {
    overflow: hidden;
    position: relative;
    margin-top: 15px
}

.gjList li .count span {
    display: block;
    float: left;
    width: 50%
}

.gjList li .count span.s1 {
    height: 48px;
    line-height: 48px
}

.gjList li .count span.s2 {
    height: 48px;
    line-height: 48px;
    padding-top: 4px
}

.gjList li .count span.s1 b {
    font-size: 36px;
    font-weight: normal
}

.gjList li .count span.s1 {
    color: #ff503f;
    font-size: 18px
}

.gjList li .count span.s2 b {
    font-size: 24px;
    font-weight: normal
}

.gjList li .count span.s3, .gjList li .count span.s4 {
    color: #888;
    margin-top: 6px
}

.gjList li .count span.s5 {
    display: inline-block;
    color: #eee;
    position: absolute;
    line-height: 20px;
    left: 50%;
    bottom: 0;
    width: 12px;
    margin-left: -6px
}

.gjList li .newscroll {
    display: block;
    border-top: 1px dashed #e8e8e8;
    border-bottom: 1px dashed #e8e8e8;
    padding: 18px 0;
    margin-top: 25px
}

.scroIn {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #f7f7f7
}

.scroIn span {
    display: block;
    background-color: #ff503f;
    height: 10px
}

.newscroll p {
    color: #555;
    line-height: 1;
    text-align: left;
    margin: 0;
    margin-top: 20px
}

.gjList li p.safe {
    display: block;
    border-top: 1px dashed #e8e8e8;
    line-height: 30px;
    margin-top: 15px;
    color: #00baff
}

.gjList li p.safe span {
    font-size: 20px
}

.gjList li p.txt {
    color: #999;
    line-height: 20px;
    text-align: left;
    border-top: 1px dashed #e8e8e8;
    border-bottom: 1px dashed #e8e8e8;
    padding: 15px 0
}

.gjList li .abox {
    display: block;
    padding: 30px 0
}

.gjList li span.abtn {
    width: 110px;
    height: 32px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ff503f;
    border-radius: 3px;
    color: #ff503f;
    line-height: 32px;
    cursor: pointer
}

.gjList li span.abtn:hover {
    background-color: #ff503f;
    color: #fff
}

.gjList li span.noClick {
    color: #d6d6d6;
    border-color: #d6d6d6;
    cursor: not-allowed
}

.gjList li span.noClick:hover {
    background-color: #fff;
    color: #d6d6d6
}

.gjList li a.all {
    display: block
}

.gjList li:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 3px #7a7878
}

.picList {
    display: block;
    overflow: hidden;
    margin-top: 14px
}

.picList ul {
    width: 1020px
}

.picList li {
    float: left;
    width: 204px;
    margin-right: 51px;
    padding: 5px;
    height: 268px;
    border: 1px solid #ddd;
    margin-top: 14px;
    overflow: hidden
}

.picList li img {
    width: 100%;
    height: 100%
}

#count {
    position: absolute;
    padding: 0px 10px;
    line-height: 30px;
    border-radius: 5px;
    bottom: 0;
    background-color: #D73240;
    display: none;
    color: #FFF
}

#count i {
    font-style: normal;
    font-weight: bold
}

span.gap {
    float: left;
    padding: 10px 5px 0 5px
}

.hzhb_box {
    float: left;
    width: 610px;
    margin-top: 32px;
}

.hzhb_item {
    float: left;
    margin: 5px;
    border: solid 1px #aaa;
    border-radius: 3px;
}

.hzhb_item img {
    width: 120px;
    height: 40px;
}

.ft_item {
    float: left;
    width: 239px;
}

.ft_item_tit {
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #ccc;
    padding-left: 40px;
}

.ft_links_list {
    margin-top: 10px;
}

.ft_links_list .ft_link {
    height: 30px;
    line-height: 30px;
}

.ft_item_sns {
    float: right;
    width: 340px;
}

.ft_sns_list {
    margin-left: 40px;
}

.ft_sns_list li {
    float: left;
    width: 74px;
    margin: 5px;
}

.ft_sns_list a {
    display: block;
    width: 74px;
}

.ft_sns_list .txt {
    display: block;
    line-height: 32px;
    text-align: center;
    color: #ccc;
}

.ft_sns_list .ico_sns {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    background: url(../images/ft_sns.png) no-repeat;
}

.ft_sns_list .ico_weixin {
    background-position: 0 0;
}

.ft_sns_list .ico_sinawb {
    background-position: -63px 0;
}

.ft_sns_list .ico_txwb {
    background-position: -126px 0;
}

.ft_sns_list a:hover .ico_sinawb {
    background-position: -63px -63px;
}

.ft_sns_list a:hover .ico_txwb {
    background-position: -126px -63px;
}

.ft_sns_list a:hover .txt {
    color: #3D9FE1
}

.ft_sns_list .wx_tips {
    cursor: pointer;
    position: relative;
}

.ft_sns_list .wx_tips .tips_hd {
}

.ft_sns_list .wx_tips .tips_bd {
    display: none;
    position: absolute;
    left: 90px;
    top: -10px;
}

.ft_sns_list .wx_tips .tips_bd .arrow {
    width: 0;
    height: 0;
    overflow: hidden;
    border-color: transparent #fff transparent transparent;
    border-width: 8px 8px 8px 8px;
    border-style: dashed solid dashed none;
    position: absolute;
    top: -8px;
}

.ft_sns_list .wx_tips .tips_bd img {
    width: 180px;
    height: 180px;
}

.ft_sns_list .wx_tips .tips_bd .txt {
    font-size: 14px;
    line-height: 32px;
    color: #3D9FE1;
}

.ft_sns_list .wx_tips:hover .ico_weixin {
    background-position: 0 -63px;
}

.ft_sns_list .wx_tips:hover .txt {
    color: #3D9FE1;
}

.ft_sns_list .wx_tips:hover .tips_bd {
    display: block;
}

.qqPic {
    display: inline-block;
    color: #999;
    height: 52px;
    padding-left: 54px;
    background: url(../images/qqIcon.png) no-repeat left center
}

.qqPic:hover {
    background: url(../images/qqIcon2.png) no-repeat left center;
    color: #00baff
}

.down {
    width: 970px;
    height: 506px;
    background: url(../images/appdown_bg.jpg) no-repeat;
    margin: 40px auto;
    position: relative;
}

.down h1 {
    font-size: 16px;
    color: #666666;
    font-family: "黑体";
    position: absolute;
    left: 560px;
    top: 200px;
}

.down .down_xz {
    position: absolute;
    left: 600px;
    top: 410px
}

.down .down_xz a {
    display: block;
    background: #9a8140;
    width: 275px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 18px;
    font-size: 17px;
}

.down .down_xz a.android {
    background: #a24a27;
    border: 1px solid #a24a27;
}

.down .down_xz i {
    font-size: 24px;
    margin-right: 5px;
}

#selectBank .modal-dialog {
    width: 800px
}

.bank {
    overflow: hidden;
    padding-top: 10px
}

.bank li {
    float: left;
    margin: 0 8px 15px
}

.bank li img {
    margin-left: 3px
}

.fl {
    float: left
}

.fr {
    float: right
}

.productDetailCnt {
    padding: 0 40px;
    width: 800px;
    margin: 0 auto
}

.productDetailCnt .listItem {
    padding: 25px 0 30px;
    border-bottom: 1px solid #e7e7e7;
}

.productDetailCnt h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 32px
}

.productDetailCnt .listItem .detailIcon {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url(../web/images/detailIcon.png);
    background-repeat: no-repeat
}

.productDetailCnt .listItem .fl {
    margin-right: 42px;
    margin-left: 12px
}

.productDetailCnt .listItem .fr {
    margin-right: 12px;
    margin-left: 42px
}

.productDetailCnt .row_1 .detailIcon {
    background-position: 0 0
}

.productDetailCnt .row_2 .detailIcon {
    background-position: -120px 0
}

.productDetailCnt .row_3 .detailIcon {
    background-position: -240px 0
}

.productDetailCnt .row_4 .detailIcon {
    background-position: -360px 0
}

.productDetailCnt .row_5 .detailIcon {
    background-position: -480px 0
}

.productDetailCnt .row_1 .media-body, .productDetailCnt .row_3 .media-body, .productDetailCnt .row_5 .media-body {
    margin-right: 12px
}

.productDetailCnt .row_2 .media-body, .productDetailCnt .row_4 .media-body {
    margin-left: 12px
}

.productDetailCnt .listItem p {
    font-size: 14px;
    color: #999;
    line-height: 1.5
}

.productDetailCnt .tipRow, .projectDetailBox .tipRow {
    padding: 20px 0
}

.hwpzNav {
    display: block;
    text-align: center;
}

.hwpzNav ul {
    display: inline-block;
    overflow: hidden;
}

.hwpzNav ul li {
    float: left;
    margin: 0 50px;
}

.hwpzNav ul li a {
    color: #2a2a2a;
    font-weight: bold;
    line-height: 50px;
    font-size: 20px;
    display: block;
    padding-left: 54px;
}

.hwpzNav ul li a:hover, .hwpzNav ul li a.active {
    color: #9e843f;
}

.hwpzNav ul li.first a {
    background: url(../images/ico1.jpg) no-repeat left center;
}

.hwpzNav ul li.second a {
    background: url(../images/ico2.jpg) no-repeat left center;
    padding-left: 44px;
}

.hwpzNav ul li.three a {
    background: url(../images/ico3.jpg) no-repeat left center;
}

.hwpzNav ul li.four a {
    background: url(../images/ico4.jpg) no-repeat left center;
}

.hwpzNav ul li.first a:hover, .hwpzNav ul li.first a.active {
    background: url(../images/hico1.jpg) no-repeat left center;
}

.hwpzNav ul li.second a:hover, .hwpzNav ul li.second a.active {
    background: url(../images/hico2.jpg) no-repeat left center;
}

.hwpzNav ul li.three a:hover, .hwpzNav ul li.three a.active {
    background: url(../images/hico3.jpg) no-repeat left center;
}

.hwpzNav ul li.four a:hover, .hwpzNav ul li.four a.active {
    background: url(../images/hico4.jpg) no-repeat left center;
}

.safeList {
    width: 970px;
    margin: 40px auto 0;
}

.safeList li {
    border: 1px solid #e2e2e2;
    padding: 15px 25px;
    margin-top: 25px;
}

.safeList li a {
    display: block;
    overflow: hidden;
}

.safeList li span, .safeList li h2 {
    float: left;
}

.safeList li h3 {
    float: right;
    margin: 0;
}

.safeList li p {
    margin: 0;
}

.safeList li span {
    color: #fd6a56;
    font-size: 28px;
    margin-right: 15px;
    margin-top: 5px;
}

.safeList li h2 {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    line-height: 34px;
}

.safeList li h2 p {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.safeList li h3 {
    font-size: 14px;
    line-height: 30px;
    padding: 4px 0;
    text-align: right;
    color: #ff503f;
}

.safeList li h3 p {
    color: #777;
}

.tbList li.six {
    padding: 20px 0;
    width: 330px
}

.tbList li.six p {
    text-align: left;
    font-size: 12px;
    color: #999;
    line-height: 24px;
    margin: 0;
    border-left: 1px solid #ebebeb;
    padding: 8px 10px 0 40px;
}

.w300 {
    width: 300px !important
}

.pSelect {
    overflow: hidden;
    border: none
}

.pSelect span {
    width: 134px;
    overflow: hidden;
    text-align: left;
    border: 1px solid #e0e0e0;
    background: #fff url(../images/sanjia_se.jpg) no-repeat 110px center;
    border-radius: 4px
}

.pSelect span select {
    height: 40px;
    border: none;
    width: 150px;
    padding-left: 8px;
    background: transparent;
    font-size: 14px
}

.phone {
    text-align: left;
    font-size: 14px;
    color: #00baff;
    margin-top: 8px
}

.phone span {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #ff503f
}


.lcrInfo {
    margin: 10px auto;
    text-align: center;
    float: left;
}

.lcrInfo .rwImg {
    border-radius: 50%;
}

.lcrInfo h2 {
    font-size: 24px;
    line-height: 50px;
}

.lcrInfo h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.lcrInfo p {
    font-size: 14px;
    color: #999;
    line-height: 200%;
    text-align: left;
    padding: 10px 0;
}

.mydig {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0
}

.mydig .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6
}

.mydig .imgbox {
    position: absolute;
    width: 750px;
    height: 775px;
    background: url(../images/tyj.png) no-repeat;
    z-index: 10;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -385px;
    padding-top: 574px
}

.mydig .imgbox a {
    width: 470px;
    height: 104px;
    display: block;
    margin-left: 140px
}

.fyblTxt{width:80px!important;border: none !important;color: #fff !important;; background-color: #f03a09; margin-left: 5px; font-size: 12px;font-weight: 100; line-height: 20px !important;; height: 20px !important;display: inline-block;border-radius: 10px
;float: right; margin-top: 4px}

.tbList li.second div .fyblTxt{ margin-top: 16px}

.preBox{position: relative; text-align: left!important;font-size: 12px!important;margin-top: 10px !important;;
    height:42px;}
.preBox input{
    margin:8px 3px 0 0;
    float: left;}
.preBox button{ font-size: 12px;

    background-color: #c3c3c3;
    border: none;
    color: #fff;
    width:auto !important;
    height: 28px;
    float: left;
    margin: 0 ;
    margin-left: 6px;
    padding: 0 5px !important;
    box-shadow: 0 0 3px #424040;
}
.preBox button.active{background-color: #00aa00;}


.mydig{ position:fixed; width:100%; height:100%; z-index:999; top:0; left:0}
.mydig .bg,.mydig .closeBg{ position:absolute; width:100%; height:100%; background-color:#000; opacity:0.6}
.mydig .imgbox{ position:absolute; width:750px; height:775px; background:url(../images/tyj.png) no-repeat; z-index:10; left:50%; margin-left:-375px; top:50%; margin-top:-385px; padding-top:574px}
.mydig .imgbox a{ width:470px; height:104px; display:block; margin-left:140px}
.txtBox{height:400px; width: 500px;  position: absolute; z-index: 10; left: 50%; top: 50%; margin-left: -250px; margin-top: -200px;background-color:#f7f7f7}
.txtBox h3{ font-size:16px !important;line-height:40px;margin:0;background-color:#ddd;text-indent:15px}
.txtBox a{ font-size:24px; line-height:90px;display:block;text-align:center}
.txtBox p{ font-size:16px; color:#f00;line-height:30px;padding:0 50px}



/*弹窗*/
.layui-layer-title{border:none!important}
.dialogs{text-align: center;}
.dialogs h1{font-size: 34px;color: #ff4800;}
.dialogs a {display:inline-block;width:255px;height: 47px;background: #ff4800;color: #fff;border-radius: 10px;border: 1px solid #FF4800;margin-top: 35px;line-height:47px;text-align:center}
.dialogs p{margin: 0;font-size: 14px;}
.dialogs .hrs{border-bottom: 1px solid #cccccc;margin: 0 50px;position: relative;height: 20px;margin-bottom: 20px;margin-top: 30px;}
.dialogs .hrs font{position: absolute;display: inline-block;width: 70px;background: #fff;left: 50%;margin-left: -35px;top: 5px;}